* {
 margin: 0;
 padding: 0;
}

body {
 background-color: #666;
 font: 10pt Verdana, Arial, sans-serif;
 margin: 0 auto;
 padding: 0 5mm;
 width: 236mm;
}

p {
 margin: 1em 0;
 line-height: 1.4em;
}

#nameplate {
 height: 25mm;
 padding-left: 25mm;
}
#nameplate a {
 background-color: rgba(0, 0, 0, .7);
 color: #ccc;
 font: 2em "LubalGraph Bk BT", serif;
 padding: 1mm;
 text-decoration: none;
}

#content {
 background: #ccc;
 position: relative;
}
#content p:first-child {
 margin-top: 0;
}
.hentry {
 margin: 0 26mm;
 padding: 25mm 0 26mm 0;
}
.entry-title {
 font: 5mm "LubalGraph Bk BT", serif;
 margin-bottom: 1em;
 width: 184mm;
}
